
@{
    ViewData["Title"] = "blaze";
}
@section MetaTags {
    <title> Blaze </title>

}

<!--Page Title-->
<section class="page-banner" style="background-image:url(/images/background/3-1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Blaze</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Home</a></li>
                <li>Blaze</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side / Our Blog-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/images/blaze.png" alt="" />
                        </div>
                        <div class="lower-content">
                            <div class="content-inner">
                                <div class="title-box">
                                    <ul class="post-meta">

                                        <li><i class="fa-solid fa-circle-notch font-40px default-color"></i> | <strong>Blaze</strong></li>
                                    </ul>
                                    <h2>
                                        The next step up in
                                        digital textile printng
                                    </h2>
                                </div>
                                <div class="text">
                                    <h1>Engineered for performance </h1><br>
                                    <h3>High-end digital printing</h3>
                                    <p>
                                        The Blaze from HGS Machines offers unsurpassed quality and value to textile printers who are taking the first step into digital production. It also offers a step up to high-performance, high-quality production for printers who wish to develop their digital capabilities further.Blaze uses several printing modes
                                        and 16 or 32 Ricoh Gen 6 printheads with a resolution of 1200 & 600 dpi. Apart from ease, accuracy
                                        and productivity, Blaze offers flexibility and may be used with Reactive inks and different drying
                                        methods.
                                    </p>
                                    <h3>Save time, space and money</h3>
                                    <p>Digital printing has many benefits. It makes short-run, fast-turnaround jobs affordable for customers profitable for printers. It eliminates screen preparation time and makes more time available for printing full production runs on scren printing lines. </p>
                                    <h3>Multitude of applications</h3>
                                    <p>
                                        Open creative possibilities with the wide range of natural fabrics, both knitted as well as woven. Blotches and gradations can be printed with intense colors and smoothness thanks to the variable dropsize technology combined with the unique, unrivalled native 1200 dpi resolution.This also allows the printing
                                        of very fine lines and geometric designs that no other digital printer on the market can match.
                                    </p>
                                    <div class="gallery-column">
                                        <div class="row clearfix">
                                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                                <div class="image">
                                                    <img src="/images/pro-1.jpg" alt="" />
                                                </div>
                                            </div>
                                            <div class="column col-lg-6 col-md-6 col-sm-12">
                                                <div class="image">
                                                    <img src="/images/pro-2.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="blockquote-inner">
                                    </div>
                                    <div class="col-md-12" style="margin-top: 20px;">
                                        <h4 class="mt-0 font-600">
                                            A Closer look to inspiring
                                            <span class="gradient-color">details</span>
                                        </h4>
                                        <div class="row">
                                            <table class="table table-bordered table-definition mb-5">
                                                <thead class="table-warning ">
                                                    <tr>

                                                        <th>Features</th>
                                                        <th>Description</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Printing Width</td>
                                                        <td>1800 mm</td>
                                                    </tr>
                                                    <tr>
                                                        <td>No. of PH</td>
                                                        <td>16 or 32</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Print Heads</td>
                                                        <td>Ricoh Gen 6</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Ink</td>
                                                        <td>Reactive or Pigment</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Colors</td>
                                                        <td>8</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Environment Conditions</td>
                                                        <td>Room temperature 20 - 25°C</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Printer Electronic</td>
                                                        <td>BYHX</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Conveyor Cleaning System</td>
                                                        <td>3 Sponge roll, 1 brush roll,back dryer, Fabric Supporting roll</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Compressed Air</td>
                                                        <td>Consumption: 0.03m3/min<br>Air pressure: 0.7Mpa</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Print head gap</td>
                                                        <td>Up to 10 mm</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Rip Supported</td>
                                                        <td>Neo Stampa</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Power Supply & Electricity load</td>
                                                        <td>16H 26.8KW 32H - 31.7KW (approx)</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5 class="font-600">
                                                    Print modes / <span class="gradient-color">Production modes</span>
                                                </h5>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <h5 class="font-600 logo-color">Blaze with 16H</h5>
                                                    <table class="table table-bordered table-definition mb-5">
                                                        <thead class="table-warning ">
                                                            <tr>

                                                                <th>Passes</th>
                                                                <th>DPI</th>
                                                                <th>Productivity (sq mtr)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>600*600</td>
                                                                <td>220</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>600*1200</td>
                                                                <td>130</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <h5 class="font-600 logo-color">Blaze with 32H</h5>
                                                    <table class="table table-bordered table-definition mb-5">
                                                        <thead class="table-warning ">
                                                            <tr>

                                                                <th>Passes</th>
                                                                <th>DPI</th>
                                                                <th>Productivity (sq mtr)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>600*600</td>
                                                                <td>400</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>600*1200</td>
                                                                <td>2500</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <p>* Actual performance may depend on the specific type of system and application settings.</p>
                                            </div>

                                        </div>
                                        <!-- Brochures Widget -->
                                        <div class="sidebar-widget brochures">
                                            <div class="sidebar-title"><a href="/pdf/Digitel Broucher-blaze.pdf" class="brochure-btn"><h5><span class="icon fas fa-file-pdf"></span> Download catalogue</h5></a></div>

                                        </div>
                                    </div>
                                    <div class="container">





                                        <div class="row">
                                            <div style="width: 100%; ">

                                                <!-- Accordion -->
                                                <div id="accordionExample" class="accordion shadow">

                                                    <!-- Accordion item 1 -->
                                                    <div class="card">
                                                        <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                                                            <h2 class="mb-0">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                                        aria-controls="collapseOne"
                                                                        class="btn btn-link text-dark font-weight-bold text-uppercase collapsible-link">
                                                                    Full control in one,<br> integrated system
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
                                                            <div class="card-body p-5">
                                                                <p class="font-weight-light m-0">The Blaze is a complete system, designed and engineered to make a complete solution. All elements are made to work together: printheads, inks, substrate conveyor, and dryer. With Blaze from HGS Machines, configuring the right combination for your requirements is possible without compromising results.</p>
                                                            </div>
                                                        </div>
                                                    </div><!-- End -->
                                                    <!-- Accordion item 2 -->
                                                    <div class="card">
                                                        <div id="headingTwo" class="card-header bg-white shadow-sm border-0">
                                                            <h2 class="mb-0">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                                        aria-controls="collapseTwo"
                                                                        class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">
                                                                    Nova+Pro unrivalled image quality <br>and long printhead life
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                                                            <div class="card-body p-5">
                                                                <p class="font-weight-light m-0">
                                                                    The Blaze comes standard with the Nova+Pro waveform, which ensures perfect drop positioning on the fabric for flawless image quality without striping. The Inline placement of printheads ensures no light-dark color effet in bloch color printing, increasing print speed while preventing the "Soccerfield effect." Additionally, this system extends printhead lifespan and minimizes issues like misaligned or missing nozzles, ensuring optimal printing results.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div><!-- End -->
                                                    <!-- Accordion item 3 -->
                                                    <div class="card">
                                                        <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                                                            <h2 class="mb-0">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                                                        aria-controls="collapseThree"
                                                                        class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">
                                                                    End-to-end support of <br>your business
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                                                            <div class="card-body p-5">
                                                                <p class="font-weight-light m-0">With HGS Machines you can access decades of experience in textile printing, right from the source. Our application support specialists are dedicated to help you explore new possibilities and will share everything there is to know to keep your Blaze in perfect condition. And when outstanding results matter, rely on HGS Machines ink technology. Our performance inks are specially formulated to deliver optimum performance. Our inks guarantee unattended printing without nozzle blockages or print head failures while adhering to the highest standards and legislation on sustainability</p>
                                                            </div>
                                                        </div>
                                                    </div><!-- End -->
                                                    <div class="card">
                                                        <div id="headingFour" class="card-header bg-white shadow-sm border-0">
                                                            <h2 class="mb-0">
                                                                <button type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                                                        aria-controls="collapseThree"
                                                                        class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">
                                                                    End-to-end support of <br>your business
                                                                </button>
                                                            </h2>
                                                        </div>
                                                        <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
                                                            <div class="card-body p-5">
                                                                <p class="font-weight-light m-0">The right balance of technology incorporated in Blaze, internationally recognized inks and our full support ensures end-to-end control for consistent high-quality output. Whereas Blaze is built to control high speed and high quality in two different configurations. The Blaze with 16 printheads is a great option for entering in digital printing, where the Blaze with 32 printheads is the preferred choice for high volume printing. A Blaze can be later upgraded at the customer site from 16 to 32 printheads. The combination of RICOH GEN 6 print heads, Ink recercullation, chilling plant and our specially formulated performance inks ensures excellent runnability and longer print head lifetime. Most importantly, you can count on strong and vivid colours at the lowest possible ink consumption.</p>
                                                            </div>
                                                        </div>
                                                    </div><!-- End -->
                                                    <!-- Accordion item 3 -->

                                                </div><!-- End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <section class="newsletter-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">

                    <!--Title Column-->
                    <div class="title-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h2>Get in touch with us</h2>
                        </div>
                    </div>

                    <!--Form Column-->
                    <div class="form-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">

                            <!--Subscribe Form-->
                            <div class="subscribe-form">
                                <form method="post" action="">
                                    <div class="form-group">

                                        <a href="/Home/contact" class="theme-btn submit-btn">Contact Us</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

