
@{
    ViewData["Title"] = "career";
}


@section MetaTags {
    <title> Career </title>

}
<!--Page Title-->
<section class="page-banner style-two" style="background-image:url(/images/background/career-page-title-bg.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Join Our Team</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Home</a></li>
                <li>Career</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 section-heading">
                <h2 class="mt-0 font-700">Like a Family</h2>
                <h5 class="default-color mt-0 text-uppercase">WE HAVE BUILT OUR TEAM ON A ROCK-SOLID</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 centerize-col">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-icon text-center mb-20 animation-move-top">
                            <i class="fa-solid fa-wallet font-50px gradient-color"></i>
                            <div class="title-section">
                                <h4 class="mt-0 font-700">Attractive Salary</h4>
                                <p class="font-400">Earn a competitive salary in the exciting world of fabric printing!</p>
                            </div>
                        </div>
                        <div class="box-icon text-center animation-move-top">
                            <i class="fa-solid fa-heart font-50px gradient-color"></i>
                            <div class="title-section">
                                <h4 class="mt-0 font-700">Medical Insurance</h4>
                                <p class="font-400">Enjoy comprehensive medical insurance with your fabric printing career!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="box-icon text-center animation-move-top">
                            <i class="fa-solid fa-hourglass font-50px gradient-color"></i>
                            <div class="title-section">
                                <h4 class="mt-0 font-700">Fixible Timing</h4>
                                <p class="font-400">Experience flexible working hours in the fabric printing industry!</p>
                            </div>
                        </div>
                        <div class="box-icon text-center animation-move-top">
                            <i class="fa-solid fa-book-open-reader font-50px gradient-color"></i>
                            <div class="title-section">
                                <h4 class="mt-0 font-700">Education Support</h4>
                                <p class="font-400">Receive education support to grow your skills in fabric printing!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="approach-section" style="background-image: url(/images/background/about-section-two-bg.png); ">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="icon"><img src="/images/logo.png" alt=""></div>
                        <div class="title">Join Our Team</div>
                        <h2>A Different Approach</h2>
                        <div class="text">We're looking for passionate individuals who are ready to make a difference and grow with us. Whether you're just starting your career or bringing years of experience, we offer an environment where your voice is heard, your ideas are valued, and your growth is a priority.</div>
                    </div>

                    <!-- Approach Block -->
                    <div class="approach-block">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-nuclear-plant"></span></div>
                            <h4><a href="#">Innovative Culture</a></h4>
                            <div class="text">We thrive on creativity, collaboration, and bold ideas. Every team member contributes to shaping our future.</div>
                        </div>
                    </div>

                    <!-- Approach Block -->
                    <div class="approach-block">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-factory"></span></div>
                            <h4><a href="#">Career Growth</a></h4>
                            <div class="text">We support your professional development through mentorship, training programs, and clear career paths.</div>
                        </div>
                    </div>

                    <!-- Approach Block -->
                    <div class="approach-block">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-engineer"></span></div>
                            <h4><a href="#">Inclusive Environment</a></h4>
                            <div class="text">Diversity drives innovation. We foster a welcoming workplace where everyone feels respected and empowered.</div>
                        </div>
                    </div>

                    <!-- Approach Block -->
                    <div class="approach-block">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-engineer"></span></div>
                            <h4><a href="#">Work-Life Balance</a></h4>
                            <div class="text">We care about your well-being and believe in a healthy work-life balance to help you do your best work.</div>
                        </div>
                    </div>

                    <!-- Approach Block -->
                    <div class="approach-block">
                        <div class="inner-box">
                            <div class="icon-box"><span class="icon flaticon-engineer"></span></div>
                            <h4><a href="#">Meaningful Impact</a></h4>
                            <div class="text">Your work here matters. We’re building solutions that create real value for our customers and communities.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <figure class="image"><a href="/images/resource/approach.jpg" class="lightbox-image"><img src="images/resource/approach.jpg" alt=""></a></figure>
                </div>
            </div>

        </div>
    </div>
</section>


