
@{
    ViewData["Title"] = "huegush";
}

@section MetaTags {
    <title> Huegush </title>

}


<section class="page-banner" style="background-image:url(/images/background/3-1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Huegush</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Home</a></li>
                <li>Huegush</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">


            <!--Content Side / Services Detail-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="services-detail">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/images/huegush.png" alt="" />
                        </div>
                        <div class="lower-content">
                            <!-- Title Box -->
                            <div class="title-box">
                                <div class="title">We are HGS Machines</div>
                                <h2>16 Head</h2>
                            </div>


                            <div class="text">
                                <h3>Full control in one integrated system</h3>
                                <div class="mar-btm-2">
                                    Huegush is a complete system, designed and engineered to make a complete solution. All elements are made to work together: printheads, inks, substrate conveyor, and dryer. With Huegush from HGS Machines, configuring the right combination for your requirements is possible without compromising results.
                                </div>
                                <h3>Nova+Pro unrivalled image quality and long printhead life</h3>
                                <div class="mar-btm-2">The Huegush comes standard with the Nova+Pro waveform, which ensures perfect drop positioning on the fabric for flawless image quality without striping. The Inline placement of printheads ensures no light-dark color effet in bloch color printing, increasing print speed while preventing the "Soccerfield effect." Additionally, this system extends printhead lifespan and minimizes issues like misaligned or missing nozzles, ensuring optimal printing results.</div>
                                <h3>End-to-end support of your business</h3>
                                <div class="mar-btm-2">With HGS Machines you can access decades of experience in textile printing, right from the source. Our application support specialists are dedicated to help you explore new possibilities and will share everything there is to know to keep your Huegush in perfect condition. And when outstanding results matter, rely on HGS Machines' ink technology. Our performance inks are specially formulated to deliver optimum performance. Our inks guarantee unattended printing without nozzle blockages or print head failures while adhering to the highest standards and legislation on sustainability.</div>
                                <h3>End-to-end control for quality output</h3>
                                <div class="mar-btm-2">The right balance of technology incorporated in Huegush, internationally recognized inks and our full support ensures end-to-end control for consistent high-quality output. Whereas Huegush is built to control high speed and high quality in two different configurations. The Huegush with 16 printheads is a great option for entering in digital printing, where the Huegush with 32 printheads is the preferred choice for high volume printing. A Huegush can be later upgraded at the customer site from 16 to 32 printheads. The combination of RICOH GEN 6 print heads and our specially formulated performance inks ensures excellent runnability and longer print head lifetime. Most importantly, you can count on strong and vivid colours at the lowest possible ink consumption.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Services Featured Outer -->
            <div class="services-featured-outer">
                <div class="row clearfix">

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-4 col-sm-8">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-home-2"></span>
                            </div>
                            <h4>High-end digital printing</h4>
                            <div class="featured-text">
                                The Huegush from HGS Machines Technologies offers unsurpassed quality and value to textile printers who are taking the first step into digital production. It also offers a step up to high-performance, high-quality production for printers who wish to develop their digital capabilities further.Huegush uses several printing modes
                                and 16 or 32 Ricoh Gen 6 printheads with a resolution of 1200 & 600 dpi. Apart from ease, accuracy
                                and productivity,Huegush offers flexibility and may be used with Reactive inks and different drying
                                methods.

                            </div>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-4 col-md-4 col-sm-8">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-fan"></span>
                            </div>
                            <h4>Save time, space and money</h4>
                            <div class="featured-text">Digital printing has many benefits. It makes short-run, fast-turnaround jobs affordable for customers and profitable for printers. It eliminates screen preparation time and makes more time available for printing full production runs on scren printing lines.</div><br><br><br>
                            <br><br><br>	<br>
                        </div><br>
                        <br>
                    </div><br><br><br>

                    <!-- Feature Block -->

                    <div class="feature-block col-lg-4 col-md-4 col-sm-8">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-worker"></span>
                            </div>
                            <h4>
                                Multitude of applications
                            </h4>
                            <div class="featured-text">
                                Open creative possibilities with the wide range of natural fabrics, both knitted as well as woven. Blotches and gradations can be printed with intense colors and smoothness thanks to the variable dropsize technology combined with the unique, unrivalled native 1200 dpi resolution.This also allows the printing
                                of very fine lines and geometric designs that no other digital printer on the market can match.

                                <br>                        <br>
                            </div><br>
                            <br>
                        </div>
                        <br>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block col-lg-6 col-md-6 col-sm-12">

                        <div class="icon-box">
                        </div>

                    </div>
                </div>

            </div>
        </div>



        <!-- Default Two Column -->
        <div class="default-two-column">
            <div class="row clearfix">
                <div class="column col-lg-6 col-md-6 col-sm-12">
                    <div class="image">
                    </div>
                </div>
                <div class="column col-lg-6 col-md-6 col-sm-12">
                    <p></p>
                    <ul class="list-style-one">
                    </ul>
                </div>
            </div>
        </div>

        <div class="gallery-column" style="margin-bottom: 2rem;">
            <div class="row clearfix">
                <div class="column col-lg-6 col-md-6 col-sm-12">
                    <div class="image">
                        <img src="/images/pro-3.jpg" alt="" />
                    </div>
                </div>
                <div class="column col-lg-6 col-md-6 col-sm-12">
                    <div class="image">
                        <img src="/images/pro-2.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <h1>Designed for continuous production</h1><br>

        <div class="text">
            <h3 style="">Fabric infeed System</h3><br>
            <div class="bold-text" style="">
                <li>• Auto Fabric feeding ensure the fabric pasting easy on conveyour</li>
                <li>• Auto tensioning sensor to maintain constant tension throughout the length</li>
                <li>• Multiple tensioning roller to control boing in fabric and ensure straight edges</li>
                <li>• Guide supported Conveyor with adhesive keeps the fabric even and prevents creases while printing - achieving accurate printing results.</li>
                <li>•Pneumatic controlled pressure roll ensure the fabric pasting even.</li>
                <li>•Special Plateform to stand operator for his easy reach to handle the fabric feed.</li>
            </div><br>
            <h3 style="">Blanket Cleaning System</h3><br>
            <div class="bold-text" style="">
                <li>• Equipped with brush roller and water jets to wash off the lint and excess inks on the blanket</li>
                <li>
                    • 3 Sponge roller to ensure removal of excess moisture
                </li>
                <li>
                    • Infrared belt dryer with hot air to dry the blanket completely and activate the adhesive on the blanket
                </li>
                <li>
                    • Extra adjustable Supporting fabric roll ensure removal of excess moisture in any condition.
                </li><br>


                <h3 style="">Dryer</h3><br>
                <div class="bold-text" style="">
                    <li>• Auto Fabric feeding ensure the fabric pasting easy on conveyour</li>
                    <li>
                        • Energy efficient radiation for reduced heat dissipation into the room
                    </li>
                    <li>
                        • Dryer with Hot air runs in different 2 stages optional
                    </li>

                </div><br>
                <h3 style="">INK System</h3><br>
                <div class="bold-text" style="">
                    <li>• 10 litre ink tanks for long ink refilling cycles</li>
                    <li>• Latest degassing and bubble removing system to avoid printhead blockage during printing</li>
                    <li>
                        •  Inline ink filters for safety of printhead
                    </li>
                    <li>• Ink refill during running</li>
                    <li>• Low ink warning for operator attention</li>

                </div><br>
                <h3 style="">PH Carriage Assembly</h3><br>
                <div class="bold-text" style="">
                    <li>•  With Anti carriage crash sensor to protect print heads</li>
                    <li>•  Linear servo motor with magnetic drive helps Chrome to run without noise & performing as per market demand.</li>
                    <li>• Solid adjustable printer beem ensure more stability of printer which helps to avoid vibration</li>
                    <li>
                        • PH carriage designed systematically by professionals to save time in case of maintainance.
                    </li>
                    <li>• The unique inline PH placement ensures NO light-dark color effect in bloch color printing Please Note: Print sharpness comes always better on inline system in comparison to staggered.</li>

                </div>


            </div><br>




            <h1 style="">A closer look to <span class="gradient-color">inspiring details</span></h1><br>
            <div class="row">
                <table class="table table-bordered table-definition mb-5">
                    <thead class="table-warning ">
                        <tr>

                            <th>Features</th>
                            <th>Description</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Printing Width</td>
                            <td>1800 mm</td>
                        </tr>
                        <tr>
                            <td>No. of PH</td>
                            <td>16 or 32</td>
                        </tr>
                        <tr>
                            <td>Print Heads</td>
                            <td>Ricoh Gen 6</td>
                        </tr>
                        <tr>
                            <td>Ink</td>
                            <td>Reactive or Pigment</td>
                        </tr>
                        <tr>
                            <td>Colors</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Environment Conditions</td>
                            <td>Room temperature 20 - 25°C</td>
                        </tr>
                        <tr>
                            <td>Printer Electronic</td>
                            <td>BYHX</td>
                        </tr>
                        <tr>
                            <td>Conveyor Cleaning System</td>
                            <td>3 Sponge roll, 1 brush roll, Fabric Supporting roll</td>
                        </tr>
                        <tr>
                            <td>Compressed Air</td>
                            <td>Consumption: 0.03m3/min<br>Air pressure: 0.7Mpa</td>
                        </tr>
                        <tr>
                            <td>Print head gap</td>
                            <td>Up to 10 mm</td>
                        </tr>
                        <tr>
                            <td>Rip Supported</td>
                            <td>Neo Stampa</td>
                        </tr>
                        <tr>
                            <td>Power Supply &amp; Electricity load</td>
                            <td>3 phase</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="row mar-top-2">
                <div class="col-md-4">
                    <h4 class="mt-0 font-600">
                        Print modes /
                        <span class="gradient-color"> Production modes</span>
                    </h4>

                </div>
                <div class="col-md-8">
                    <div class="row">
                        <h5 class="font-600 logo-color">Huegush with 16H</h5>
                        <table class="table table-bordered table-definition mb-5">
                            <thead class="table-warning ">
                                <tr>

                                    <th>Passes</th>
                                    <th>DPI</th>
                                    <th>Productivity (sq mtr)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>600*600</td>
                                    <td>220</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>600*1200</td>
                                    <td>130</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="row">
                        <h5 class="font-600 logo-color">Huegush with 32H</h5>
                        <table class="table table-bordered table-definition mb-5">
                            <thead class="table-warning ">
                                <tr>

                                    <th>Passes</th>
                                    <th>DPI</th>
                                    <th>Productivity (sq mtr)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>600*600</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>600*1200</td>
                                    <td>250</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>* Actual performance may depend on the specific type of system and application settings.</p>
                </div>

            </div>

        </div>

    </div>
    <!-- Brochures Widget -->
    <div class="sidebar-widget brochures">
        <div class="sidebar-title">
            <a href="/pdf/Digitel Broucher-Huegush.pdf" class="brochure-btn">

                <h5>
                    <span class="icon fas fa-file-pdf"></span> Download catalogue
                </h5>
            </a>
        </div>
        <div class="widget-content">
        </div>
    </div>
</div>
                </div>

            </div>
        </div>
    </div>

<!--Newsleter Section-->
<section class="newsletter-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">

                <!--Title Column-->
                <div class="title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>Get in touch with us</h2>
                    </div>
                </div>

                <!--Form Column-->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <!--Subscribe Form-->
                        <div class="subscribe-form">
                            <form method="post" action="">
                                <div class="form-group">

                                    <a href="contact.html" class="theme-btn submit-btn">Contact Us</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Newsleter Section-->

