@{
    ViewData["Title"] = "Home Page";
}



<!--Main Slider-->
<section class="main-slider-three">

    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_three_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_three" data-version="5.4.1">
            <ul>

                <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/main-slider/7.jpg" data-title="Slide Title">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/main-slider/7.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-25','-40','-120','-140']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class=" text-center"><h2>High-Speed Precision Printing for Every Fabric</h2></div>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['90','90','10','10']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="text text-center">Advanced printer models can print dozens of meters per hour without sacrificing quality, making them suitable for industrial-scale production.</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['750','750','750','450']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['200','200','120','140']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <!-- <div class="link-box text-center clearfix">
                            <a href="about.html" class="theme-btn btn-style-two">Learn more</a>
                        </div> -->
                    </div>

                </li>

                <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/main-slider/7.jpg" data-title="Slide Title">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/main-slider/6.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-25','-110','-110','-110']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class=" text-center"><h2>Eco-Friendly Technology with Water-Based Inks</h2></div>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['90','10','10','10']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="text text-center">Digital printing minimizes ink and fabric waste compared to traditional screen printing, which requires excess ink, water, and chemicals.</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['750','750','750','450']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['200','100','120','120']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <!-- <div class="link-box text-center clearfix">
                            <a href="about.html" class="theme-btn btn-style-two">Learn more</a>
                        </div> -->
                    </div>

                </li>

                <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1690" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/main-slider/7.jpg" data-title="Slide Title">
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/main-slider/5.jpg">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['-25','-110','-110','-110']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class=" text-center"><h2>Smart Automation for Seamless Production</h2></div>
                    </div>

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['750','750','750','450']"
                         data-whitespace="normal"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['90','10','10','10']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <div class="text text-center">Advanced printers include automated feeding, alignment, and tension control systems that ensure consistent fabric movement, reducing human error and material wastage.</div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="normal"
                         data-width="['750','750','750','450']"
                         data-hoffset="['0','0','0','0']"
                         data-voffset="['200','100','120','120']"
                         data-x="['center','center','center','center']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <!-- <div class="link-box text-center clearfix">
                            <a href="about.html" class="theme-btn btn-style-two">Learn more</a>
                        </div> -->
                    </div>

                </li>

            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->
<!-- Design Section -->
<section class="design-section">
    <div class="auto-container">

        <!-- Upper Section -->
        <div class="upper-section">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="title">We are HGS Machines</div>
                            <h2>Since 2005, <br> Engineering Design <br> and Consultancy </h2>

                            <div class="left-column m-top-2rem clearfix">
                                <div class="inner-column">
                                    <div class="row clearfix">

                                        <!--Service Block-->
                                        <div class="services-block-six col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow zoomInStable animated" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: zoomInStable;">
                                                <div class="icon"><span class="flaticon-fan"></span></div>
                                                <h3><a href="#">Modern Equipments</a></h3>
                                                <a href="/Home/product" class="over-link"></a>
                                            </div>
                                        </div>

                                        <!--Service Block-->
                                        <div class="services-block-six col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow zoomInStable animated" data-wow-delay="500ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 500ms; animation-name: zoomInStable;">
                                                <div class="icon"><span class="flaticon-worker"></span></div>
                                                <h3><a href="#">Expert Engineers</a></h3>
                                                <a href="#" class="over-link"></a>
                                            </div>
                                        </div>

                                        <!--Service Block-->
                                        <div class="services-block-six col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow zoomInStable animated" data-wow-delay="1000ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 1000ms; animation-name: zoomInStable;">
                                                <div class="icon"><span class="flaticon-nuclear-plant"></span></div>
                                                <h3><a href="#">Diversify product range</a></h3>
                                                <a href="#" class="over-link"></a>
                                            </div>
                                        </div>

                                        <!--Service Block-->
                                        <div class="services-block-six col-lg-6 col-md-6 col-sm-12">
                                            <div class="inner wow zoomInStable animated" data-wow-delay="1500ms" data-wow-duration="2000ms" style="visibility: visible; animation-duration: 2000ms; animation-delay: 1500ms; animation-name: zoomInStable;">
                                                <div class="icon"><span class="flaticon-home-2"></span></div>
                                                <h3><a href="#">Well Maintained infrastructure</a></h3>
                                                <a href="/Home/product" class="over-link"></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Column -->
                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="icons-box">
                            <span class="icon flaticon-garbage-truck"></span>
                            <span class="icon flaticon-helmet-2"></span>
                            <span class="icon flaticon-manufacture-1"></span>
                        </div>
                        <div class="bold-text">The HGS Machines Pvt. Ltd. has come into view after its merger with HGS engineering.</div>
                        <div class="text">Its leadership is marked by many successful challenges our constant chase of `excellence` and considered among the India’s Digital Textile Printers Industry. HGS Group has supervised by young entrepreneurs under the guidance of Our Founder Director Mr. Prashant Mohan Vats, Who have a valued knowledge of industry.</div>
                        <div class="text">Mr. Prashant had engineered the conveyer belt system in 2007, which was one of first innovation in the Indian digital textile industry. The objective was very clear into his mind, to provide the highly competent & Global standard printers with the Economical price. At HGS, We understand the changing needs of printing industry. For execute your new collections every time, we make highly innovative & cost saving printers every time, which bears the exceptionality of high definition digital printing.</div>

                        <div class="text">Our mission is to deliver high-quality, reliable, and innovative manufacturing solutions that exceed customer expectations.</div>
                        <div class="text">To be a global leader in manufacturing excellence, setting the benchmark for quality, innovation, and sustainability. We envision a future where our products drive progress.</div>
                        <!-- <div class="signature m-top-2rem"><img src="images/resource/signature.png" alt=""></div> -->
                        <!-- <div class="author-name">Mr. Prashant</div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Lower Section -->
        <div class="lower-section">
            <div class="clearfix">

                <!-- Feature Block Two -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="side-icon flaticon-constructor-with-hard-hat-protection-on-his-head"></div>
                        <div class="content">
                            <div class="title">Product</div>
                            <h3>Diversify Product Range</h3>
                            <div class="sub-title">For the demanding and ever changing textile printing industry, we have different machines to acknowledge every element of expectations i.e. Design, Engineering, Costing, Production capacity & After Sales Service...</div>
                        </div>
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-content">
                                    <div class="title-two">Product</div>
                                    <h4><a href="#">Diversify Product Range</a></h4>
                                    <div class="text">For the demanding and ever changing textile printing industry, we have different machines to acknowledge every element of expectations i.e. Design, Engineering, Costing, Production capacity & After Sales Service. Direct Textile Printer Range to Print Cotton , Georgette, chiffon, Lycra, Silk , Viscose, Wool, Pashmina & Rayon and all other natural fibers. Sublimation Printer Range to Print Polyester ,Nylon & Acrylic</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block Two -->
                <div class="feature-block-two col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
                        <div class="side-icon flaticon-world"></div>
                        <div class="content">
                            <div class="title">Training</div>
                            <h3>Training and Instant Service Management</h3>
                            <div class="sub-title">No matter how much you are proficient in digital printing, HGS has got you entirely covered on the digital textile printing process, right from the basics to extensive training...</div>
                        </div>
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-content">
                                    <div class="title-two">Training</div>
                                    <h4><a href="#">Training and Instant Service Management</a></h4>
                                    <div class="text">No matter how much you are proficient in digital printing, HGS has got you entirely covered on the digital textile printing process, right from the basics to extensive training, consultation and consumable products. With more than 15 years’ experience in the printing industry, HGS. Desires to shape the foundation of the new printing houses.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Feature Block Two -->
                <div class="feature-block-two col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        <div class="side-icon flaticon-flask"></div>
                        <div class="content">
                            <div class="title">Service</div>
                            <h3>On Call Service</h3>
                            <div class="sub-title">This is what makes us different from others .We know that your production is your priority thus we make sure that your machines are running 24 hour /365. We are just a call away...<br><br></div>
                        </div>
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="overlay-content">
                                    <div class="title-two">Service</div>
                                    <h4><a href="#">On Call Service</a></h4>
                                    <div class="text">This is what makes us different from others .We know that your production is your priority thus we make sure that your machines are running 24 hour /365. We are just a call away, our team of engineers ensure minimum downtime at any location in India. We believe in continuous transformation and consolidation of service. Being a well-known manufacturer and supplier, we always committed to maintain trusty inventory & instant supply.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End Design Section -->

<!-- Industries Section -->
<section class="industries-section">
    <div class="auto-container">
        <!-- Big Icon -->
        <div class="big-icon flaticon-settings-4"></div>
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Our Products</div>
            <h2>Products For Industries</h2>
        </div>

        <div class="row clearfix">

            <!-- Industry Block -->
            <div class="industry-block col-lg-4 col-md-6 col-sm-12">
                <a href="/Home/huegush">
                    <div style="background: url(/images/huegush-1.png);
    background-size: cover;     height: 100%;">

                        <div class="inner-box">
                            <!-- <div class="icon-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="2000ms">
                                <span class="icon"><i class="fa-solid fa-circle-notch font-40px default-color"></i></span>
                            </div> -->
                            <h3> <span class="icon"><i class="fa-solid fa-circle-notch font-40px default-color"></i></span>Huegush</h3>
                            <!-- <div class="text">If you're aiming to redefine your fabric design capabilities with precision and versatility, Hueguse is your ideal solution. Built for dynamic and custom textile applications, Hueguse combines cutting-edge digital innovation with reliable engineering. Whether it's short runs or intricate patterns, Hueguse adapts to your needs with ease.

                            </div> -->
                        </div>

                    </div>
                </a>
            </div>

            <!-- Industry Block -->

            <div class="industry-block col-lg-4 col-md-6 col-sm-12">
                <a href="/Home/blaze">
                    <div style="background: url(/images/sapphire.png); background-size: cover;     height: 100%;">

                        <div class="inner-box">
                            <!-- <div class="icon-box wow zoomIn" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <span class="icon"><i class="fa-solid fa-fire-flame-curved font-40px default-color"></i></span>
                            </div> -->
                            <h3 data-wow-delay="300ms" data-wow-duration="2000ms"><span class="icon"><i class="fa-solid fa-fire-flame-curved font-40px default-color"></i></span>Blaze</h3>
                            <!-- <div class="text">If you ever thought about accelerating your digital textile printing with unmatched speed and precision, Blaze is your ultimate solution. Engineered for peak performance and reliability, Blaze redefines what fast, high-quality printing means. Now is the time to ignite your production with consistent output.

                            </div> -->

                        </div>

                    </div>
                </a>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-4 col-md-6 col-sm-12">
                <a href="/Home/richotejas">
                    <div style="background: url(/images/tejas.png); background-size: cover;     height: 100%;">

                        <div class="inner-box">
                            <!-- <div class="icon-box wow zoomIn" data-wow-delay="600ms" data-wow-duration="2000ms">
                                <span class="icon"><i class="fa-solid fa-jet-fighter font-40px default-color"></i></span>
                            </div> -->
                            <h3><span class="icon"><i class="fa-solid fa-jet-fighter font-40px default-color"></i></span>Tejas</h3>
                            <!-- <div class="text">If you ever thought about empowering your digital textile printing with robust performance and intelligent control, Tejas is your ultimate solution. Engineered for efficiency and stability, Tejas redefines reliability in high-volume textile production.</div>
                             -->
                        </div>

                    </div>
                </a>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-4 col-md-6 col-sm-12">
                <a href="/Home/sapphire">
                    <div style="background: url(/images/sapphire.png);
    background-size: cover;     height: 100%;">

                        <div class="inner-box">
                            <!-- <div class="icon-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="2000ms">
                                <span class="icon"><i class="fa-regular fa-gem font-40px default-color"></i></span>
                            </div> -->
                            <h3 data-wow-delay="0ms" data-wow-duration="2000ms"><span class="icon"><i class="fa-regular fa-gem font-40px default-color"></i></span>Sappahire</h3>
                            <!-- <div class="text">If you ever thought about transforming your digital textile printing with high-definition clarity and durability, Sapphire is your gateway to excellence. Now is the time to embrace vivid detail and seamless performance. Built on years of hands-on expertise in textile printing.</div> -->

                        </div>

                    </div>
                </a>
            </div>

            <!-- Industry Block -->
            <div class="industry-block col-lg-4 col-md-6 col-sm-12">
                <a href="/Home/leopard">
                    <div style="background: url(/images/leopard.png);
    background-size: cover;     height: 100%;">

                        <div class="inner-box">
                            <!-- <div class="icon-box wow zoomIn" data-wow-delay="300ms" data-wow-duration="2000ms">
                                <span class="icon"><i class="fa-solid fa-paw font-40px default-color"></i></span>
                            </div> -->
                            <h3><span class="icon"><i class="fa-solid fa-paw font-40px default-color"></i></span>Leopard</h3>
                            <!-- <div class="text">If you're looking to elevate your fabric printing game with unmatched speed and precision, the Leopard is your perfect partner. Designed for high-volume digital textile printing, Leopard blends robust engineering with innovative digital technology. With years of expertise behind us, and we bring you a solution that ensures vibrant results.</div> -->
                        </div>

                    </div>
                </a>
            </div>

            <!-- Industry Block -->

            <div class="industry-block col-lg-4 col-md-6 col-sm-12">
                <a href="/Home/chrome">
                    <div style="background: url(/images/huegush-1.png); background-size: cover;     height: 100%;">

                        <div class="inner-box">
                            <!-- <div class="icon-box wow zoomIn" data-wow-delay="600ms" data-wow-duration="2000ms">
                                <span class="icon"><i class="fa-brands fa-chrome font-40px default-color"></i></span>
                            </div> -->
                            <h3><span class="icon"><i class="fa-brands fa-chrome font-40px default-color"></i></span>Chrome</h3>
                            <!-- <div class="text">If you ever thought about adding digital printing to your digital textile printing, now is the time to step into a colourful world with new possibilities. Based on decades of hands-on experience in textile printing, we are committed to help you make your way with a powerful combination of digital and conventional printing.</div> -->
                        </div>

                    </div>
                </a>
            </div>

        </div>

    </div>
</section>
<!-- End Industries Section -->

<!-- About Industry Section -->
<section class="about-industry-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="title">Why we are</div>
                        <h2>About Industry</h2>
                    </div>
                    <div class="text wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <p>For more than two decades HGS machines has been setting the standard for Product quality, reliability and performance. Our customer service centric approach is to reduce customer cost and provide best ROI. Consumer Products designs that combine technology and function like never before. Design and presentation that express your company's extraordinary set up, that reflect your way of doing business. carefully engineered, hand crafted and built to last. Our commitment to you to provide the astonishing printing and finishing and the highest industry quality in Consumer Products and accessories.</p>

                    </div>
                    <ul class="list-style-one wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <li>Growing consumer demand for personalized and short-run textile prints is driving innovation in digital textile printers.</li>
                        <li>The industry is shifting toward water-based inks and sustainable printing processes to reduce environmental impact.</li>
                        <li>Advanced printers now feature automated fabric feeding, color calibration, and maintenance systems to improve efficiency.</li>
                        <li>Expansion in fashion, home décor, and soft signage markets is fueling global demand for digital textile printing solutions.</li>
                    </ul>
                    <div class="signature-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!-- <div class="signature"><img src="images/resource/signature.png" alt="" /></div> -->
                        <!-- <div class="ceo">Head Board of Directors</div> -->
                    </div>
                </div>
            </div>

            <!-- Images Column -->
            <div class="images-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="row clearfix">
                        <div class="column col-lg-6 col-md-6 col-sm-12">
                            <div class="image wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <img src="/images/resource/industry-1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="column col-lg-6 col-md-6 col-sm-12">
                            <div class="image wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <img src="/images/resource/industry-2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About Industry Block -->
<!-- About fun facts Section -->
<section class="fun-facts-section" style="background-image:url(/images/background/4.png);">
    <div class="auto-container">
        <div class="title-style-one centered">
            <div class="icon"><img src="/images/logo.png" alt=""></div>
            <div class="subtitle">Our Achievements</div>
            <h2>For more than two decades HGS machines has been setting the standard for Product quality, reliability and performance.</h2>
        </div>
        <div class="row clearfix">

            <!-- Count Column -->
            <div class="count-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="count-box counted">
                        <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="20">20</span>+</div>
                        <h4 class="counter-title">Years Experience</h4>
                        <div class="text">Over 20+ years of trusted expertise in digital textile printing.</div>
                    </div>
                </div>
            </div>

            <!-- Count Column -->
            <div class="count-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="count-box counted">
                        <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="300">300</span>+</div>
                        <h4 class="counter-title">Products We Served</h4>
                        <div class="text">Delivering high-performance digital textile printing solutions.</div>
                    </div>
                </div>
            </div>

            <!-- Count Column -->
            <div class="count-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="count-box counted">
                        <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="20">20</span>+</div>
                        <h4 class="counter-title">Range of Products</h4>
                        <div class="text">A versatile range of advanced digital textile printers.</div>
                    </div>
                </div>
            </div>

            <!-- Count Column -->
            <div class="count-column col-xl-3 col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="count-box counted">
                        <div class="count-outer"><span class="count-text" data-speed="2000" data-stop="400">400</span>+</div>
                        <h4 class="counter-title">Projects Developed</h4>
                        <div class="text">Successfully developed and delivered numerous digital printing projects.</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End fun facts Industry Block -->

<!-- Features Section Two -->
<section class="features-section-two alternate">
    <div class="auto-container">
        <!-- Feature Block Seven -->
        <div class="feature-block-seven">
            <div class="row clearfix">
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box"><a href="/images/resource/feature-11.jpg" class="lightbox-image"><img src="/images/resource/feature-11.jpg" alt=""></a></figure>
                    </div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title"></div>
                            <h2>Precision and Printhead Technology</h2>
                        </div>
                        <div class="text">High-quality digital textile printers rely on advanced printhead technologies (like piezoelectric or thermal inkjet heads) to deliver precise ink droplets, ensuring accurate color reproduction and sharp designs on various fabrics. Consistency and reliability of the printhead are critical for professional textile applications.</div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Feature Block Seven -->
        <div class="feature-block-seven style-two">
            <div class="row clearfix">
                <div class="image-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box"><a href="/images/resource/feature-22.jpg" class="lightbox-image"><img src="images/resource/feature-22.jpg" alt=""></a></figure>
                    </div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title"></div>
                            <h2>Ink and Fabric Compatibility</h2>
                        </div>
                        <div class="text">The type of ink used (e.g., reactive, acid, pigment, disperse, or sublimation) must be compatible with the specific fabric (cotton, silk, polyester, etc.). Manufacturers must ensure the printer supports the right ink-fabric pairing and includes features like pre-treatment and curing systems for long-lasting and vibrant prints.</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Features Section Two -->
<section class="request-quote-section" style="background-image: url(/images/background/6.jpg);">
        <div class="auto-container">
            <div class="sec-title light">
                <div class="title">We are HGS Machine</div>
                <h2>Request a Quote</h2>
                <div class="text">Looking for the perfect digital textile printing solution? Contact us today for a customized quote tailored to your needs!</div>
            </div>
            <div class="appointment-form">
                <form method="post" action="#">
                    <div class="row clearfix">
                        <div class="field-group col-xl-8 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <input type="text" name="field-name" placeholder="Your Name " required="">
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <input type="email" name="field-name" placeholder="Email Address" required="">
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <input type="text" name="field-name" placeholder="Subject" required="">
                                </div>
                                
                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <select class="custom-select-box" id="ui-id-1" style="display: none;">
                                        <option>Product Interested in</option>
                                        <option>Blaze</option>
                                        <option>Sappahire</option>
                                        <option>Huegush</option>
                                        <option>Leopard</option>
                                        <option>Chrome</option>
                                        <option>Tejas</option>

                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                         <div class="field-group col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <textarea name="field-name" placeholder="Mesage " required=""></textarea>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <button class="theme-btn btn-style-one" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>


<style>

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 30px;
        margin-bottom: 40px;
        .col

    {
        max-width: 100%;
        width: 100%;
        padding: 0 15px;
        flex: 0 0 100%;
        .dropdown-container

    {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    @@media (min-width: 767px) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    @@media (min-width: 992px) {
        flex: 0 0 25%;
        max-width: 25%;
    }

    }
    }

    /* Dropdown menu css */
    .dropdown-container {
        position: relative;
        max-width: 240px;
        .dropdown-toggle

    {
        color: #000000;
        background-color: #ffffff;
        font-size: 17px;
        padding: 18px 20px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        transition: all ease-in-out 0.3s;
        label

    {
        cursor: pointer;
        width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: #0979ce;
        color: #ffffff;
    }

    }

    .dropdown-menu {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        margin-top: 17px;
        position: absolute;
        left: 0;
        top: 100%;
        display: none;
        background-color: #ffffff;
        z-index: 10;
        ul

    {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
        z-index: 10;
    }

    a {
        text-decoration: none;
        display: block;
        color: #000000;
        font-size: 15px;
        padding: 16px 20px;
        font-weight: 600;
        box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
        transition: all ease-in-out 0.3s;
        &:hover, &:active, &:focus

    {
        background-color: #0979ce;
        color: #ffffff;
    }

    }
    }
    }

    .dropdown-menu,
    .dropdown-toggle {
        position: relative;
        &::before

    {
        content: "";
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border: 5px solid;
        border-top-color: rgba(0, 0, 0, 0);
        border-left-color: rgba(0, 0, 0, 0);
        margin-top: -2.5px;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease-in-out 0.2s;
    }

    }

    .dropdown-menu {
        z-index: 10;
        position: relative;
        &::before

    {
        z-index: -1;
        transform: rotate(-135deg);
        top: -4px;
        border-color: #ffffff;
        box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
    }

    }

    .dropdown-open {
        .dropdown-menu.dropdown-active

    {
        display: block;
    }

    }

    .dropdown-container.dropdown-open {
        .dropdown-toggle

    {
        background-color: #0979ce;
        color: #ffffff;
        &:before

    {
        transform: rotate(-135deg);
    }

    }
    }


    .dropdown-bordered {
        .dropdown-toggle

    {
        border: 2px solid #000000;
        border-radius: 10px;
        &:hover, &:active, &:focus

    {
        background-color: #0979ce;
        color: #ffffff;
        border-color: #ffffff;
    }

    }

    .dropdown-menu {
        border: 2px solid #000000;
        border-radius: 10px;
        &::before

    {
        border-color: #000000;
    }

    a {
        box-shadow: none;
        border-bottom: 2px solid #000000;
    }

    li {
        &:last-child

    {
        a

    {
        border-bottom: 0;
    }

    }
    }
    }
    }

    // dropdown-gradient

    .dropdown-gradient {
        .dropdown-toggle, .dropdown-menu, a

    {
        background: rgb(255, 49, 49);
        background: -moz-linear-gradient( 262deg, rgba(255, 49, 49, 1) 11%, rgba(84, 0, 255, 1) 100% );
        background: -webkit-linear-gradient( 262deg, rgba(255, 49, 49, 1) 11%, rgba(84, 0, 255, 1) 100% );
        background: linear-gradient( 262deg, rgba(255, 49, 49, 1) 11%, rgba(84, 0, 255, 1) 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3131",endColorstr="#5400ff",GradientType=1);
        color: #ffffff;
    }

    .dropdown-toggle {
        &::before

    {
        color: #ffffff;
    }

    }

    .dropdown-menu {
        a

    {
        background: none;
        box-shadow: none;
        color: #ffffff;
        &:hover, &:active, &:focus

    {
        background: rgb(255, 49, 49);
        background: -moz-linear-gradient( 66deg, rgba(255, 49, 49, 1) 11%, rgba(84, 0, 255, 1) 100% );
        background: -webkit-linear-gradient( 66deg, rgba(255, 49, 49, 1) 11%, rgba(84, 0, 255, 1) 100% );
        background: linear-gradient( 66deg, rgba(255, 49, 49, 1) 11%, rgba(84, 0, 255, 1) 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3131",endColorstr="#5400ff",GradientType=1);
    }

    }

    &::before {
        box-shadow: none;
        border-color: rgb(255, 49, 49);
    }

    }
    }

    // dropdown-solid

    .dropdown-solid {
        .dropdown-toggle, .dropdown-menu

    {
        background-color: #0979ce;
        color: #ffffff;
    }

    .dropdown-menu {
        a

    {
        color: #ffffff;
        &:hover, &:active, &:focus

    {
        background-color: #ffffff;
        color: #000000;
    }

    }

    &::before {
        border-color: #0979ce;
    }

    }
    }
</style>




<!-- Dropdowns -->
<br />
<div class="sec-title centered">

    <h2>Serving Cities</h2>
</div>
<div class="row">

    <div class="col">
        <!-- Default Design -->
        <div class="dropdown-container">
            <div class="dropdown-toggle click-dropdown">
                Ludhiana
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">DropDown Menu Item 1</a></li>
                    <li><a href="#">DropDown Menu Item 2</a></li>
                    <li><a href="#">DropDown Menu Item 3</a></li>
                    <li><a href="#">DropDown Menu Item 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Bordered Dropdown -->
        <div class="dropdown-container dropdown-bordered">
            <div class="dropdown-toggle click-dropdown">
                Delhi
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="/Home/Delhi">Textile Printer in Delhi</a></li>
                    <li><a href="/Home/Delhi">Industrial Fabric Printing Machine in Delhi</a></li>
                    <li><a href="/Home/Delhi">Fabric Printing Equipment in Delhi</a></li>
                    <li><a href="/Home/Delhi">Pigment-Based Digital Fabric Printer in Delhi</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Bordered Gradient -->
        <div class="dropdown-container dropdown-gradient">
            <div class="dropdown-toggle click-dropdown">
                Mohali
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">DropDown Menu Item 1</a></li>
                    <li><a href="#">DropDown Menu Item 2</a></li>
                    <li><a href="#">DropDown Menu Item 3</a></li>
                    <li><a href="#">DropDown Menu Item 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Bordered Solid -->
        <div class="dropdown-container dropdown-solid">
            <div class="dropdown-toggle click-dropdown">
                Surat
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="/Home/Surat">Textile Printer in Surat</a></li>
                    <li><a href="/Home/Surat">Industrial Fabric Printing Machine in Surat</a></li>
                    <li><a href="/Home/Surat">Fabric Printing Equipment in Surat</a></li>
                    <li><a href="/Home/Surat">Pigment-Based Digital Fabric Printers in Surat</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <!-- Default Design -->
        <div class="dropdown-container">
            <div class="dropdown-toggle hover-dropdown">
                Mumbai
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">DropDown Menu Item 1</a></li>
                    <li><a href="#">DropDown Menu Item 2</a></li>
                    <li><a href="#">DropDown Menu Item 3</a></li>
                    <li><a href="#">DropDown Menu Item 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Bordered Dropdown -->
        <div class="dropdown-container dropdown-bordered">
            <div class="dropdown-toggle hover-dropdown">
                Jaipur
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">Textile Printer in Jaipur</a></li>
                    <li><a href="#">Industrial Fabric Printing Machine in Jaipur</a></li>
                    <li><a href="#">Fabric Printing Equipment in Jaipur</a></li>
                    <li><a href="#">Pigment Based Digital Fabric Printer in Jaipur</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Bordered Gradient -->
        <div class="dropdown-container dropdown-gradient">
            <div class="dropdown-toggle hover-dropdown">
                Gurgaon
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">DropDown Menu Item 1</a></li>
                    <li><a href="#">DropDown Menu Item 2</a></li>
                    <li><a href="#">DropDown Menu Item 3</a></li>
                    <li><a href="#">DropDown Menu Item 4</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col">
        <!-- Bordered Solid -->
        <div class="dropdown-container dropdown-solid">
            <div class="dropdown-toggle hover-dropdown">
                Tirupur
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">DropDown Menu Item 1</a></li>
                    <li><a href="#">DropDown Menu Item 2</a></li>
                    <li><a href="#">DropDown Menu Item 3</a></li>
                    <li><a href="#">DropDown Menu Item 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
