
@{
    ViewData["Title"] = "leopard";
}


@section MetaTags {
    <title> Leopard </title>

}

<!--Page Title-->
<section class="page-banner" style="background-image:url(/images/background/3-1.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Leopard</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Index">Home</a></li>
                <li>Leopard</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">



            <!--Content Side / Services Detail-->
            <div class="content-side col-lg-12 col-md-12 col-sm-12">
                <div class="services-detail">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/images/resource/leopard.jpg" alt="" />
                        </div>
                        <div class="lower-content">
                            <!-- Title Box -->
                            <div class="title-box">
                                <div class="title">We are HGS Machines</div>
                                <h2>Sustainable by Nature</h2>
                            </div>


                            <div class="text">
                                <h3>The smallest possible footprint</h3>
                                <p>
                                    As a manufacturer we & our associated Ink Partner are engaged in a continuous
                                    process to reduce our impact as much as possible. This means saving energy, water
                                    and chemicals is a priority. We purify our water and air before it leaves our factories
                                    and we process our waste responsibly, compliant to local regulations and standards.
                                    Our scope in sustainability extends to the production sites of our customers
                                    as wel. We help them to reduce the environmental footprint of textile printing
                                    with products and expert advice, to save energy, reduce emissions and
                                    prevent waste of precious resources
                                </p><br>
                                <h3>Digital drametically reduces waste</h3>
                                <p>
                                    The core benefit of digital printing is flexible on demand production. No
                                    need to push large quantities with longer lead times and risks of overstock
                                    or shortages. Customers can order smaller batches and simply re-order
                                    successful collections. Digital dramatically reduces the waste of resources
                                    required to produce and ship stocks that never reaches any consumers. Next
                                    to that, HGS Machines has instilled a long-term sustainability strategy on its entire
                                    operation, impacting everything we do today and tomorrow.
                                </p><br>
                                <h3>Leopard is the optimal solution for your entry into digital printing</h3>
                                <p>
                                    At HGS we have put 2 decades of our experience in textile printing into
                                    proven digital technology to help you meet the demands of today's fashion
                                    industry. Leopard provides industrial performance and more sustainable, high
                                    quality digital printing at a profitable cost level. With fast turnarounds and
                                    full application support, Leopard is the optimal solution for your entry into
                                    digital printing.
                                </p>

                            </div>
                        </div>


                        <!-- End Sidebar Page Container-->
                        <!-- Services Featured Outer -->
                        <div class="services-featured-outer">
                            <div class="row clearfix">

                                <!-- Feature Block -->
                                <div class="feature-block col-lg-4 col-md-4 col-sm-8" style="">
                                    <div class="inner-box" style="">
                                        <div class="icon-box">
                                            <span class="icon flaticon-home-2"></span>
                                        </div>
                                        <h4>End-to-end support of your business</h4>
                                        <div class="featured-text">
                                            Access decades of textile printing expertise with HGS. Our experts help you unlock new possibilities and keep your Leopard running flawlessly. Rely on our advanced inks for consistent, high-quality, sustainable printing—free from nozzle blockages or head failures. In-house R&D ensures unmatched machine performance and value.
                                            <br><br>
                                        </div>
                                    </div>
                                </div>

                                <!-- Feature Block -->
                                <div class="feature-block col-lg-4 col-md-4 col-sm-8">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-fan"></span>
                                        </div>
                                        <h4>End-to-end support of your output</h4>
                                        <div class="featured-text">
                                            The combination of the versatily fabric infeed unit, complete control over the fabric during
                                            printing, the separate inline dryer and the international recognized HGS Reactive or Pigment
                                            inks based on Novacron technology guarantees an end-to-end control for quality output. The in-
                                            built negative pressure system keeps the Ricoh printheads in optimal printing condition during all
                                            times, enabling stand alone printing for long periods.
                                        </div>
                                    </div>
                                    <br>
                                </div>

                                <!-- Feature Block -->
                                <div class="feature-block col-lg-4 col-md-4 col-sm-8">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-worker"></span>
                                        </div>
                                        <h4>
                                            Limitless Creativity
                                        </h4>
                                        <div class="featured-text">
                                            HGS is a total systems supplier, offering productive hardware, best-in-class software and
                                            the choice of reactive or pigment inks. With Leopard we introduce a robust entry-level digital
                                            printer that offers immense creative opportunities to print on a large variety of fabrics. A perfect
                                            solution for start-ups with enough printing demand to fulfil the need for a medium-speed printer

                                            <br><br>
                                        </div>
                                    </div><br>
                                </div>

                                <!-- Feature Block -->
                                <div class="feature-block col-lg-4 col-md-4 col-sm-8">
                                </div>


                            </div>

                        </div>


                        <!-- Default Two Column -->
                        <div class="default-two-column">
                            <div class="row clearfix">
                                <div class="column col-lg-7 col-md-7 col-sm-14">
                                    <div class="image">
                                    </div>
                                </div>
                                <div class="column col-lg-7 col-md-7 col-sm-14">
                                    <p></p>
                                    <ul class="list-style-one">
                                    </ul>
                                </div>
                            </div>

                            <h1 style="">Designed for continuous production</h1><br>
                            <div class="text">
                                <h3 style="">Fabric infeed System</h3><br>
                                <div class="bold-text" style="">
                                    <li> • Auto tensioning sensor to maintain constant tension throughout the length</li>
                                    <li> • Multiple tensioning roller to control boing in fabric and ensure straight edges</li>
                                    <li>
                                        • Guide supported Conveyor with adhesive keeps the fabric even and prevents creases while printing - achieving accurate printing results.
                                    </li>
                                    <li> • Pneumatic controlled pressure roll ensure the fabric pasting even.</li>

                                </div><br>
                                <h3 style="">Blanket Cleaning System</h3><br>
                                <div class="bold-text" style="">
                                    <li> • Equipped with brush roller and water jets to wash off the lint and excess inks on the blanket </li>
                                    <li> • 3 Sponge roller to ensure removal of excess moisture</li>
                                    <li> • Infrared belt dryer with hot air to dry the blanket completely and activate the adhesive on the blanket</li>

                                </div><br>
                                <h3 style="">Dryer</h3><br>
                                <div class="bold-text" style="">
                                    <li> • Separate infrared dryer for rapid drying of printed ink on fabric</li>
                                    <li> • Energy efficient radiation for reduced heat dissipation into the room</li>
                                </div><br>
                                <h3 style="">INK System</h3><br>
                                <div class="bold-text" style="">
                                    <li> • 10 litre ink tanks for long ink refilling cycles</li>
                                    <li> •  Latest degassing and bubble removing system to avoid printhead blockage during printing</li>
                                    <li> • Inline ink filters for safety of printhead</li>
                                    <li> • Ink refill during running</li>
                                    <li> • Low ink warning for operator attention</li>
                                </div><br>


                                <div class="bold-text">
                                </div>


                            </div>
                            <div class="gallery-column" style="margin-bottom: 2rem;">
                                <div class="row clearfix">
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <img src="/images/pro-3.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <div class="image">
                                            <img src="/images/pro-4.jpg" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <h4 class="mt-10 font-600">
                                    A Closer look to inspiring
                                    <span class="gradient-color">details</span>
                                </h4>
                                <div class="row">
                                    <table class="table table-bordered table-definition mb-5">
                                        <thead class="table-warning ">
                                            <tr>

                                                <th>Features</th>
                                                <th>Description</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Printing Width</td>
                                                <td>1800 mm</td>
                                            </tr>
                                            <tr>
                                                <td>No. of PH</td>
                                                <td>4 or 8</td>
                                            </tr>
                                            <tr>
                                                <td>Print Heads</td>
                                                <td>Ricoh Gen 6</td>
                                            </tr>
                                            <tr>
                                                <td>Ink</td>
                                                <td>Reactive or Pigment</td>
                                            </tr>
                                            <tr>
                                                <td>Colors</td>
                                                <td>8</td>
                                            </tr>
                                            <tr>
                                                <td>Environment Conditions</td>
                                                <td>Room temperature 20 - 25°C</td>
                                            </tr>
                                            <tr>
                                                <td>Printer Electronic</td>
                                                <td>BYHX</td>
                                            </tr>
                                            <tr>
                                                <td>Conveyor Cleaning System</td>
                                                <td>3 Sponge roll, 1 brush roll, back dryer, Fabric Supporting roll</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4 class="mt-0 font-600">
                                            Print modes /
                                            <span class="gradient-color"> Production modes</span>
                                        </h4>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <h5 class="font-600 logo-color">Speed (sq mtrs / hr)</h5>
                                            <table class="table table-bordered table-definition">
                                                <thead class="table-warning ">
                                                    <tr>

                                                        <th>Passes</th>
                                                        <th>DPI</th>
                                                        <th>4 PH</th>
                                                        <th>8 PH</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>600*600</td>
                                                        <td>60</td>
                                                        <td>120</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>600*900</td>
                                                        <td>45</td>
                                                        <td>90</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>* Actual performance may depend on the specific type of system and application settings.</p>
                                        </div>




                                    </div>
                                </div>
                                <div>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-widget brochures">
            <div class="sidebar-title"><a href="pdf/Digitel Broucher-Leopard.pdf" class="brochure-btn"><h5><span class="icon fas fa-file-pdf"></span> Download catalogue</h5></a></div>

        </div>
    </div>
</div>

<!--Newsleter Section-->
<section class="newsletter-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">

                <!--Title Column-->
                <div class="title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>Get in touch with us</h2>
                    </div>
                </div>

                <!--Form Column-->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <!--Subscribe Form-->
                        <div class="subscribe-form">
                            <form method="post" action="">
                                <div class="form-group">

                                    <a href="contact.html" class="theme-btn submit-btn">Contact Us</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Newsleter Section-->
